// THis page will be an absolute non-scrollable container
// children can be scrollable, but not the container


:local(.container)
  color inherit
  overflow hidden
  background-color #eee
  ui-absolute-layer 0 0 0 0

