@keyframes rotate-loader 
  from 
    transform rotate(0deg)
  to
    transform rotate(359deg)


.rotating-loader
    position relative
    &:after
      position absolute
      top -3px
      left -3px
      content ''
      width 38px
      height 38px
      border-top 2px $primary solid
      border-radius 36px
      animation rotate-loader 0.2s infinite linear

:local(.container)
  color inherit
  margin-bottom 2*$gutter

  .sample-post
    width 500px
    border 1px rgba(0,0,0,0.12) solid
    margin 0 auto
    
  .post-image
    height 300px
  .post-stats
    padding 6px 10px
    background-color #ccc

  .post-comments 
    background-color #eee

  

  .user-avatar 
    width 32px
    height 32px
    border-radius 50%
    background-color $primary
    margin-right 8px 
    flex-shrink 0


:local(.container) .comment-item 
  display flex
  flex-direction column
  padding 10px
  &:not(:last-child)
    border-bottom 1px rgba(#000, 0.12) solid

  .comment-block,
  .comment-actions-block, 
  .comment-user
    display flex
    align-items center
  
  .comment-block
    padding 6px 0
    position relative

  .comment-message 
    width 100% 
    margin-right 48px

  .comment-likes
    position absolute 
    right 0
    top 6px
    display flex
    align-items center
    font-size 14px
    .material-icons
      font-size 18px
    &.rotating-loader:after
      width 20px
      height 20px
      left -20px

  .user-name 
    font-weight $font-weight-bold
    margin-right 20px 
    flex-shrink 0


  .comment-actions-block
    font-size 12px
    margin-left 40px
  
  .timestamp
    font-weight $font-weight-bold
    opacity 0.4

  .comment-action-btn 
    margin-right 20px
    &:hover 
      text-decoration underline
      cursor pointer




:local(.container) .new-comment
  display flex
  align-items center
  padding 10px

  .new-comment-container, 
  .new-comment-input 
    width 100%
  
  .new-comment-input
    border-radius 32px
    border 1px rgba(#000, 0.12) solid
    padding 8px 16px
    +ui-placeholder()
      color #aaa
