$player-controls-height ?=  80px
$player-control-color  ?= #444

:local(.container)
  color inherit
  ui-absolute-layer false 0 0 0
  height $player-controls-height 
  background-color #fff
  border-top 1px #ddd solid

  .player-controls-inner
    height 100%
    padding-left $half-gutter
    padding-right $half-gutter 



// This should behave like an icon button
:local(.container) .music-button 
  padding 12px
  background none
  border none
  cursor pointer
  color rgba($player-control-color, 0.6)

  // content must be centered
  display flex
  align-items center
  justify-content center

  &:hover
    color $player-control-color
